@import "tailwindcss";

:root {
  --primary-900: #1A1F05;
  --primary-700: #333D0A;
  --primary-400: #D3E97A;
  --primary-500: #A9BA62;
  --primary-600: #7f8c49;

  --white: #FFFFFF;
  --black: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--primary-900);
  color: var(--white);
  font-size: 1.6rem;
  font-family: var(--font-outfit), sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
}

p {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.border-gradient {
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--primary-400), var(--primary-700));
}

.animate-load-shopify {
  animation: load-shopify .5s .4s ease-in-out forwards, levitate 3s .4s ease-in-out infinite;
}

@keyframes load-shopify {
  0% {
    top: 70%;
    right: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 5rem;
    right: 5rem;
    transform: translateY(0);
  }
}

.animate-load-golang {
  animation: load-golang .5s .2s ease-in-out forwards, levitate 3s .2s ease-in-out infinite;
}

@keyframes load-golang {
  0% {
    top: 70%;
    left: 50%;
    opacity: 0;
  }

  100% {
    top: 5rem;
    left: 5rem;
    opacity: 1;
  }
}

.animate-load-stripe {
  animation: load-stripe .5s .6s ease-in-out forwards, levitate 3s .6s ease-in-out infinite;
}

@keyframes load-stripe {
  0% {
    top: 70%;
    left: 50%;
    opacity: 0;
  }

  100% {
    top: 17.5rem;
    left: 5rem;
    opacity: 1;
  }
}

.animate-load-next {
  animation: load-next .5s .7s ease-in-out forwards, levitate 3s .7s ease-in-out infinite;
}

@keyframes load-next {
  0% {
    top: 70%;
    right: 50%;
    opacity: 0;
  }

  100% {
    top: 15rem;
    right: 5rem;
    opacity: 1;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Hero Load Animations */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in-left-0 {
  animation: slideInLeft 0.7s ease-out forwards;
}

.animate-slide-in-left-150 {
  animation: slideInLeft 0.7s 0.15s ease-out forwards;
  opacity: 0;
}

.animate-slide-in-left-450 {
  animation: slideInLeft 0.7s 0.45s ease-out forwards;
  opacity: 0;
}

.animate-slide-in-up-300 {
  animation: slideInUp 0.7s 0.3s ease-out forwards;
  opacity: 0;
}

.animate-slide-in-right-200 {
  animation: slideInRight 1s 0.2s ease-out forwards;
  opacity: 0;
}

/* Infinite Scroll Animation */
@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infiniteScroll 20s linear infinite;
}

@media screen and (max-width:768px) {
  .animate-infinite-scroll {
    animation: infiniteScroll 10s linear infinite;
  }
}